<mat-toolbar color="primary">
    <h1>Starfinder Nano</h1>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav opened
                 mode="side"
                 fixedInViewport
                 fixedTopGap="64">
        <ul>
            <li *ngFor="let link of sidenavLinks">
                <a [routerLink]="link.route">{{ link.title }}</a>
                <ul *ngIf="link.children && link.children.length > 0">
                    <li *ngFor="let childLink of link.children">
                        <a [routerLink]="childLink.route">{{ childLink.title }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

